:root {
    --bg-primary: #F3F5FC;
    --bg-secondary: #0A3871;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-primary);
    font-family: 'Red Hat Display', sans-serif;
}
.game-area {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-btns {
    display: flex;
    flex-direction: column;
}
.btn {
    width: 250px;
    height: 90px;
    margin-bottom: 25px;
    border-radius: 25px;
    font-weight: bold;
}
.btn-primary {
    background-color: var(--bg-secondary);
}
.btn-light {
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-secondary);
    color: var(--bg-secondary);
}
.btn-light:hover {
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
    color: var(--bg-primary);
}
.new-word {
    display: flex;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.alert {
    display: flex;
    align-items: center;
    margin: 0;
}
.alert p {
    margin: 0;
}
.alert img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.text p {
    font-size: 28px;
    color: var(--bg-secondary);
}
.text textarea {
    width: 550px;
    height: 200px;
    resize: none;
    background-color: var(--bg-primary);
    border: none;
    font-size: 24px;
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    color: var(--bg-secondary);
    text-transform: none;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.new-word-btns {
    display: flex;
}
.new-word-btns button {
    margin-left: 20px;
}
footer img {
    width: 35px;
}
.icons {
    display: flex;
}
.game {
    display: none;
}
.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas {
    width: 100%;
    height: 600px;
    padding-right: 22%;
}
.game-btns button{
    margin-right: 15px;
}
.letras-erradas {
    display: flex;
    flex-direction: row;
}
.letras-erradas p {
    font-size: 25px;
    margin-right: 10px;
}